.container{
    text-align:center;
    justify-content: center;
    position: relative;
    margin-top: 23px;
    flex-direction: row;
    margin-left: 14px;
}
h1{
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(138, 17, 17);
    border: #13097f;
}
.table{
    margin:auto;
    height: 20px;
    margin-left: 13px;
    
}
input{
    font-size: 34px;
    border:1px solid rgb(9, 9, 9);
    height: 47px;
    padding: 13px;
    text-align: left;
    background-color:rgb(126, 104, 15);
    letter-spacing: 1px;
    border-radius: 18px;
    box-shadow: inset 5px 5px 10px rgb(11, 212, 105),
    inset -5px -5px 25px rgb(30, 27, 4);
    cursor: pointer;

}
.operator{
    color: #fff;
    background-color: #a02ec9;
   
}
.operator:hover{
    color: #fef9f9;
   background-color: #b50a84; 
}
button{
    display: inline-block;
    font-size: 23px;
    background:#808080;
    width: 105px;
    height: 55px;
    border-top:1px rgb(8, 8, 8);
    border-bottom :1px rgb(236, 232, 240);
    text-align:center;
    border-radius:18px;
    margin: 1px;
    cursor: pointer;
}
button:hover{
    color: #ece3ef;
}

.clear{
    background-color: red;
    color: #141313cd;
    
}
.clear:hover{
    background: #edd437;
    box-shadow: inset 6px 6px 9px rgb(66, 5, 5),
    inset -5px -5px 9px rgb(61, 12, 107);
    
}
.equal{
    background-color: rgb(100, 100, 222);
    color: #000;
    box-shadow: inset 8px 8px 9px rgb(202, 174, 229),
    inset -6px -6px 7px #6ced6e;
}
.equal:hover{
    background: #edd437;
    box-shadow: inset 6px 6px 9px rgb(66, 5, 5),
    inset -5px -5px 9px rgb(61, 12, 107);
    
}
.calculator{
    background-color: rgb(13, 13, 14);
    padding: 23px;
    border-radius: 25px;
    border: 7px solid rgb(26 6 6);
    display: inline-block;
    box-shadow: 8px 5px 4px 0px #880E4F;
    
}